<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Details</title>
</head>
<body>
    {% if index > 0 %}
        <p>Indeksi > 0</p>
    {% else %}
        <p>Else Blockkiin tultiin</p>
    {% endif %}

    <h1>Flash Card</h1>
    <p>
        <a href="{{ url_for('welcome') }}">
            Welcome to Flash Cards
        </a>
    </p>
    Question: {{ flashcard.question }}
    <br>
    Answer: {{ flashcard.answer }}
    <br>
    <p>
        <button>
            <a href="{{ url_for('card_view', index = index + 1) }}">
                Next Card
            </a>
        </button>
    </p>
</body>
</html>