<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Card</title>
</head>
<body>
    <h1>Delete Card</h1>

    <form method="post">
        
        {{card.question}}
        <br>
        {{card.answer}}
        <br>
        <button type="submit">Yes, Delete</button>
        <a href="{{ url_for('card_view', index=index) }}">Cancel</a>

    </form>
</body>
</html>